<nav class="site-nav">
    <ul class="nav-menu">
        <li class="nav-item"><a href="{{ "/" | absLangURL }}" class="nav-link">Agentic Party</a></li>
        <li class="nav-item"><a href="{{ "how-it-works/" | absLangURL }}" class="nav-link">How It Works</a></li>
        <li class="nav-item"><a href="{{ "platform/" | absLangURL }}" class="nav-link">Platform</a></li>
        <li class="nav-item"><a href="{{ "/" | absLangURL }}#manifesto-text" class="nav-link">Manifesto</a></li>
        <li class="nav-item"><a href="{{ "/" | absLangURL }}#contact" class="nav-link">Contact</a></li>
    </ul>
</nav>
